<% include ./partials/header %>
<ul>
<form name="answer_form" id="answer_form" method="post" action="/thanks">
  <li><%= question[0] %></li>
  <input class="form-control" type="text" name="ans1" id="ans1">
  <li><%= question[1] %></li>
  <input class="form-control" type="text" name="ans2" id="ans2">
  <li><%= question[2] %></li>
  <input class="form-control" type="text" name="ans3" id="ans3">
  <li><%= question[3] %></li>
  <input class="form-control" type="text" name="ans4" id="ans4">
</ul>

<input class="btn" id="submitans" type="submit" value="Save">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../javascripts/answers.js"></script>
<% include ./partials/footer %>
