<% include ./partials/header %>
<ul>
<form name="answer_form" id="answer_form" method="post" action="/thanks">
  <li><%= answer[0] %></li>
  <input class="form-control" type="text" name="ans1" id="ans1">
  <li><%= answer[1] %></li>
  <input class="form-control" type="text" name="ans2" id="ans2">
  <li><%= answer[2] %></li>
  <input class="form-control" type="text" name="ans3" id="ans3">
  <li><%= answer[3] %></li>
  <input class="form-control" type="text" name="ans4" id="ans4">
</ul>
<br>

<input class="btn" id="submitans" type="submit" value="Save">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../javascripts/answers.js"></script>
<% include ./partials/footer %>
