<link rel="stylesheet" href="../stylesheets/style.css">
<center>
    <h1>Survey Questions</h1>
    <br>
    <form name="question_form" id="question_form" > <!--  method="post" action="/questions"   -->
        <div>
            <input class="form-control" type="text" name="question1" id="question1" placeholder="Input First Question">
        </div>
        <br>
        <div>
            <input class="form-control" type="text" name="question2" id="question2" placeholder="Input Second Question">
        </div>
        <br>
        <div>
            <input class="form-control" type="text" name="question3" id="question3" placeholder="Input Third Question">
        </div>
        <br>
        <div>
            <input class="form-control" type="text" name="question4" id="question4" placeholder="Input Fourth Question">
        </div>
        <br>
        <input class="btn" id="submitques" type="submit" value="Save">
    </form>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../javascripts/questions.js"></script>

