
<ul>

  <li><%= answer[0] %></li>

  <li><%= answer[1] %></li>

  <li><%= answer[2] %></li>

  <li><%= answer[3] %></li>

</ul>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

